.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #c7c7c7;
    border-radius: 1em;
    padding: 1em;
    padding-bottom: 4em;
    box-shadow: black -2px 2px 22px;
    .main-text{
        margin-top: 1em;
        color: white;
        font-size: 1.5em;
        margin-bottom: 1em;
        text-align: center;
    }
    .main-img{
        text-align: center;
        img{
            width: 100%;
            max-width: 150px;
        }
    }
    .nav-form {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        h2{
            cursor: pointer;
            color: #3378cc;
            font-size: 1em;
        }
        span{
            font-size: 0.8em;
        }

    }
    .register {
        position: absolute;
        opacity: 0;
        margin-left: 5em;
        margin-top: 1em;
        transition: 0.5s ease 0s;
        color: white;
        text-align: center;
        button{
            margin-top: 1em;
        }
    }
    .login {
        margin-top: 1em;
        color: white;
        text-align: center;
        transition: 0.5s ease 0s;
        button{
            margin-top: 1em;
        }
    }
    .mat-form-field{
        width: 80%;
    }
}