table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.main-table{
    width: 90%;
    margin: 2em;
}

.mat-form-field{
    background-color: #393939;
}