<div class="main-table">

  <div class="mat-elevation-z8">
      <table>
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Second Name</th>
            <th>Level</th>
            <th>Grade</th>
            <th>Parent Key</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
          <tr *ngFor="let student of allStudents">
            <td>{{student.id}}</td>
            <td>{{student.firstName}}</td>
            <td>{{student.lastName}}</td>
            <td>{{student.level}}</td>
            <td>{{student.grade}}</td>
            <td>{{student.parentKey}}</td>
            <td><i class="material-icons" style="color: #3378cc;">cached</i></td>
            <td><i class="material-icons" style="color: #c22a2a;">delete</i></td>
          </tr>
        </table>
        <div class="loading" *ngIf="loading">
          <img src="/assets/img/loading.gif" alt="Loading">
        </div>

  </div>
</div>