.dashboard-card{
    width: 30%;
    margin: 2em;
    h2{
        margin-bottom: 1em;
    }
    .field-100{
        width: 100%;
    }
    .field-50{
        width: 45%;
        margin: 0 10px;
    }
}