@import "~@angular/material/prebuilt-themes/custom-theme.css";

body{
    background: #eaeaea;
}

*{
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}