table {
  width: 100%;
}

td,
th {
  text-align: center;
}

.main-table {
  width: 90%;
  margin: 2em;
}

i {
  cursor: pointer;
}

.loading  {
    text-align: center;
    img{
        max-width: 80px;
    }  
}